<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenue sur planète tshirt | boutiques</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://drive.google.com/file/d/1J_JxwxW52ldZLVlZ-35Tv2bNqLRsKWHP/view?usp=sharing"
    />
    <script src="/JS/boutique.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <header class="container">
      <img src="/images/logo_transparent.png" alt="" />       
        <nav class="navbar"> 
            <h1 id="headerTitre">Planète T-shirt</h1>
            <label for="btn" class="icon">
              <svg viewBox="0 0 100 80" width="40" height="40" >
                <rect width="100" height="15" stroke="#00adb5" fill="#00adb5"></rect>
                <rect y="35" width="100" height="15" stroke="#00adb5" fill="#00adb5"></rect>
                <rect y="70" width="100" height="15" stroke="#00adb5" fill="#00adb5"></rect>
              </svg>
            </label>
            <input type="checkbox" id="btn">


        <ul class="nav-menu">
          <li class="nav-item"><a href="/acceuil">Acceuil</a></li>
          <li class="nav-item"><a href="/catalogue">Catalogue</a></li>
          <li class="nav-item"><a href="/panier">Panier</a></li>
          <% if(user===null) { %>
          <li class="nav-item"><a href="/connexion">Connexion</a></li>
          <% } else{ %>
          <li class="nav-item"><a href="/profil">profil</a></li>
          <% } %>
          <li class="nav-item"><a href="/boutiques">boutiques</a></li>
        </ul>
      </div>
    </header>
    <main id="boutiques">
        <h1>boutiques</h1>

        
            <h1><%= boutiques_error %></h1>
            <div class="container-x1">
              <div class="row">
                  <% boutiques.forEach((boutique)=>{ %>
                  <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
                    <div class="card" style="width: 18rem;"">
                      <img class="card-img-top" src="/images/logo_boutique.png" alt=""  />

                      <div class="card-body">
                        <h2><%= boutique.libelle %></h2>
                        <p class="card-text">
                          <%= boutique.adress %> <br />
                          <%= boutique.postal_code %> <%= boutique.city %> <br />
                        </p>
                      </div>
                      <button class="detail">
                        <a href="/boutique/one/<%= boutique._id  %>">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="70"
                            height="70"
                            fill="currentColor"
                            class="bi bi-chevron-compact-right"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"
                            />
                          </svg>
                        </a>
                      </button>
                  </div>
              </div>
             
                  <% }) %>
            
          </div>
        </div>
    </main>
    <footer class="row" id="footer">           
      <a class="col-sm-6 col-md-4 col-xl-3 mb-4" href="https://planette-thirt/contact.com/">
        <img src="images/logo_contact.png" alt="contact" "/>
      </a>        
  <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
    <ul class="row" id="ulFooter">
      <div class="col-sm-6 col-md-4 col-xl-3 mb-4" >
            <li  id="liInstagram">
              <a href="https://instagram.com/"
                ><img src="images/logo_instagram.png" alt=""/>
              </a>
            </li>
      </div>
      <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <li id="liFacebook">
              <a href="https://facebook.com/"
                ><img src="images/logo_facebook.png" alt=""
              /></a>
            </li>
      </div>
      <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <li id="liTwitter">
              <a href="https://twitter.com/"
                ><img src="images/logo_twitter.png" " alt=""
              /></a>
            </li>
      </div>
    </ul>
  </div>      
</footer>
  </body>
</html>
